/* CSS propias del grupo naranja */

body {
    width: 85%;
    margin-left: 1rem;
}
h1.titulo {
    margin-top: 2rem;
    color: orange;
}
p.autor {
    font-style: italic;
}
p.autor span {
    font-weight: bold;
}
ul.toc li {
    list-style-type: "\1F916"; // robot face;
    padding-left: 1rem;
    line-height:2;
}
div.enunciado {
    padding: 1rem;
    background: #DDDDDD;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}
div.solucion {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #DCEFC1;
    border-bottom: 1px solid black;
}
p.pangrama {
    font-style: italic;
    padding-left: 2rem;
}